<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trang chủ</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />

</head>
<body>
     <h1 class="text-center">Phòng mạch tư OU</h1>


     <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="{{ url_for('login_usr') }}">Đăng nhập</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu2">Đăng ký</a>
          </li>
     </ul>
</body>
</html>